<body class="author-template author-john nav-closed">
<nav class="main-nav overlay clearfix">
    <a class="blog-logo" href="/"><img src="{{ website_logo }}" ></a>
    <a class="menu-button icon-menu" href="#"><span class="word">{{ "Menu"|t }}</span></a>
</nav>
<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
 </div>
<span class="nav-cover"></span>
{{ page.content }}
 </body>
